.hero-header-sub {
  
    margin-top: 50px;
    color: #e6f8f3;
    padding: 0px;
    font-size: 32px;
    text-align: center; /* Centers the text horizontally */
    display: flex;
    margin-bottom: px;
    justify-content: center; /* Centers the content horizontally */
  }



/* CSS */
.social-image {
  width: 50px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}


.cards-pro {
  display: flex;
  justify-content: space-around;
  margin: 0 -10px; /* Margin from sides of the screen */
}

.card-pro {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    margin: 0 10px; /* Increase the margin value */
    border: none;
    padding-bottom: 0px;
    padding-top: 40px;

  }


.card-image-pro {
  width: 100px;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .cards-pro {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .card-pro {
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
    
  }
}


/* Add these styles to your existing CSS file */

/* Style for the icon row */
.icon-row {
  display: flex; /* Make icons appear in a row */
  justify-content: center; /* Center icons horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

/* Style for individual icons */
.icon {
  width: 50px; /* Set the width of the icons */
  height: 50px; /* Set the height of the icons */
  margin: 0 10px; /* Adjust margin between icons */
}

/* Add these styles to your existing CSS file */

.bg-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.bg-image {
  width: 54%; /* Adjust the width to fit the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  border-radius: 20px;
}



@media (max-width: 768px) {
  .bg-image {
    width: 90%; /* Adjust the width for mobile devices */
    margin-bottom: 30px; /* Adjust the margin for mobile devices */
  }
}