.hero-header-sub {
  
    margin-top: 50px;
    color: #e6f8f3;
    padding: 0px;
    font-size: 32px;
    text-align: center; 
    display: flex;
    margin-bottom: px;
    justify-content: center;
  }


.social-image {
  width: 50px; 
  height: auto; 
}


.cards-pro {
  display: flex;
  justify-content: space-around;
  margin: 0 -10px; 
}

.card-pro {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    margin: 0 10px; 
    border: none;
    padding-bottom: 0px;
    padding-top: 40px;

  }


.card-image-pro {
  width: 100px;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .cards-pro {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .card-pro {
    width: 100%; 
    margin-bottom: 20px;
    
  }
}





.icon-row {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
}

.icon {
  width: 50px; 
  height: 50px; 
  margin: 0 10px; 
}

.bg-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.bg-image {
  width: 54%; 
  height: auto;
  object-fit: cover; 
  border-radius: 20px;
}



@media (max-width: 768px) {
  .bg-image {
    width: 90%; 
    margin-bottom: 30px;
  }
}