.hero-header-sub {
  
    margin-top: 50px;
    color: #9bba59;
    padding: 0px;
    font-size: 32px;
    text-align: center;
    display: flex;
    margin-bottom: px;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }



p {
  padding-left: 22%;
  padding-right: 22%;
}

@media (max-width: 768px) {
 p{
margin: 0px;  
padding: 0px;}
}

.sod-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.spacer{
  margin: 50px;
}

.gapper{
  margin-bottom: 50px;
}
.gap-adjuster{
  margin-bottom: 10px;
}

.extra-content {
  padding-top: 0px;
  background-color: #222; 
  color: #e6f8f3;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 0px;
}

.extra-content{
  justify-content: center;
  text-align: center; 
}

.extra-content h2{
  color: #9bba59;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}

.extra-content p{
  color: #e6f8f3;
    font-family: 'helvetica', sans-serif;
    margin-bottom: 50px;
    font-size: 18px;
}


.bottom-spacer{
  margin-bottom: 110px;
}

.Global-H2{
  font-size: 30px;
}