.tt-image{

    width: 20px;
}

.dropdown-container{
  text-align: center; /* Center horizontally */
}

.bg-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  
  .bg-image {

    width: 54%; /* Adjust the width to fit the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    border-radius: 20px;
    opacity: 0; /* Initially set opacity to 0 for fade-in effect */
    animation: fadeIn 1s ease-in-out forwards; /* Apply fade-in animation */
  }

  .sd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    padding: 20px; /* Add padding for better spacing */
    padding-top:30px;
  }
  
  .sd-image {
    width: 100%; /* Default width for images */
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px; /* Optional spacing between images */
  }

  @media only screen and (min-width: 768px) {
    .sd-image {
      width: 56%; 
    }
  }

  @media (max-width: 768px) {
    .bg-image {
      width: 90%; /* Adjust the width for mobile devices */
      margin-bottom: 0px; /* Adjust the margin for mobile devices */
    }
  }
  
  
  
  
 /* GrafiskPage.css */
.custom-dropdown {
    margin-top: 25px;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center; /* Center horizontally */
    font-size: 10px;
    margin-bottom: 10px;

  }
 
  .dropdown-header {
    font-size: 24px;
    font-weight: bold;
    color: #9bba59; /* Blue background color */
    margin: 0; /* Reset margin for all children elements */
    padding: 0; /* Reset padding for all children elements */

  }
  

  .vp-down-info p{
    font-family: Helvetica, Arial, sans-serif; /* Use Helvetica font */
    font-size: 50px;
  }
  

  .vp-info p{
    font-family: Helvetica, Arial, sans-serif; /* Use Helvetica font */
    font-size: 10px;
  }