.tt-image{

    width: 20px;
}

.dropdown-container{
  text-align: center; 
}

.bg-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}
  
  
  .bg-image {

    width: 60%; 
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
  }

  .sd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
width: 100%;;

  }

  .vis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%; 
    margin: 0 auto; 
}

.sd-image {
  width: 160%; 
  max-width: 180%; 
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 10px;
}




  
  .sd-image {
    width: 60%; 
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 10px;
  }

   
  @media (max-width: 768px) {
    .sd-image {
      width: 100%; 

    }
  }
 
  @media (max-width: 768px) {
    .bg-image {
      width: 100%; 

    }
  }
  


.custom-dropdown {
    margin-top: 25px;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center; 
    font-size: 10px;
    margin-bottom: 10px;

  }
 
  .dropdown-header {
    font-size: 24px;
    font-weight: bold;
    color: #9bba59; 
    margin: 0; 
    padding: 0; 

  }
  

  .vp-down-info p{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 50px;
  }
  

  .vp-info p{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 10px;
  }