.home-screen {
    text-align: center;
    position: relative; 
    margin-bottom: 20px    ;
  }
  
  .cover-photo {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute; 
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Home-sub{
    color: rgb(237, 237, 237) !important;
    font-size: 20px;
    margin-top: -20px !important;
    margin-bottom: 50px !important;
    animation: fadeIn 1s ease-in-out ; 
    transition: transform 0.3s ease-in-out; 
  }

  .Home-title {
    color: #e6f8f3;
    font-size: 160px;
    margin: 0; 
    
    animation: fadeIn 1s ease-in-out forwards; 
    transition: transform 0.3s ease-in-out; 
  }
  .Home-title:hover {
    transform: scale(1.1); 
  }

  .Home-sub:hover {
    transform: scale(1.1); 
  }
  
  
  .content p {
    color: #e6f8f3;
    margin-top: -15px; 
  }
  
  .new-content {
    margin-top: 0 20px;


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
  }

  }
  .container {
    margin: 0 20px; 
  }
  
  .new-content {
    margin-top: 20px; 
  }
  
  .additional-image {
    width: 100%; 
    max-width: 56%; 
    height: auto;
    border-radius: 20px;
  }
  
  .mascot-image{
    width: 56%;
    border-radius: 20px;
    margin-top: 10px ;
  }
  @media only screen and (max-width: 600px) {
    .mascot-image {
      margin-top: 20px;
      width: 100%; 
    }
  }

  .button-image{
    width: 56%;
    border-radius: 20px;
    margin-top: 10px ;
    transition: transform 0.3s ease-in-out;
  }
  .button-image:hover {
    transform: scale(1.015); /* Scale up to 110% on hover */
    filter: brightness(1.111); /* Slightly darken the image */

  }
  @media only screen and (max-width: 600px) {
    .button-image {
      margin-top: 20px;
      width: 100%; 
    }
  }

  @media only screen and (max-width: 600px) {
    .Home-sub {
      margin-bottom: 15px !important ;
      margin-top: -15px !important ;

    }
  }


  @media only screen and (max-width: 600px) {
    p{
      margin-top: 20px;
      width: 100%; 
    }
  }
  
.button-cover{
    background-color: #9bba59; 
  color: #Fff;
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  font-family: 'DM Serif Display', serif !important;
  font-weight: bold !important;
  opacity: 0; 
  box-shadow: 0px 0px 1cap rgba(144, 173, 151, 0.407); 
  animation: fadeIn 2s ease-in-out forwards; 
  transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
}
.button-cover:hover {
    transform: scale(0.9);
    background-color: #dfe79f; 
    color: #222;
  }


@media only screen and (max-width: 600px) {
    .additional-image {
      max-width: 100%; 
    }
  }

  @media only screen and (max-width: 600px) {
    .Home-title {
        margin-top: -200px !important; 
        font-size: 80px;

    }
  }


  .granny-image {
    width: 56%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 20px;
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {
    .granny-image {
      width: 100%; 
    }
  }
  

  @media (max-width: 767px) {
    .button-cover {
      margin-top: 0px;
      font-family: 'DM Serif Display', serif;
      font-weight: bold !important;
    }
  }
  

  .ins-down p{
    margin: 5px;
    font-size: 18px;
    color: #e6f8f3;
    font-family: 'helvetica', sans-serif;

  }


.cards {
  display: flex;
  justify-content: space-around;
  margin: 0 -10px; 
}

.card {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 0 10px;
    border: none;
    padding-bottom: 50px;
    padding-top: 40px;
  }

.card-image {
  width: 100px;
  border-radius: 8px;
  
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description{
  font-size: 22px;
  color: #e44800;
  margin-bottom: 0px;
  padding: 0px;
  margin-bottom: -20px;
  justify-content: center; 
  text-align: center; 
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .card {
    width: 100%; 
    margin-bottom: 20px;
  }
}