
.header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  z-index: 1000; 
  font-family: 'DM Serif Display', serif;


}

.logo {
  width: 3.3rem; 
  height: auto; 
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'DM Serif Display', serif;
font-weight: bold;
}

.nav ul li {
  margin-right: 20px;
  color: #9bba59;
  transition: transform 0.3s ease-in-out;
  font-family: 'DM Serif Display', serif;

}


.nav ul li:hover {
  transform: scale(1.1);
  color: #e6f8f3;
}

.nav ul li a {
  text-decoration: none;
  color: #e6f8f3;
  font-family: 'DM Serif Display', serif;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none; 
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
    cursor: pointer;
    color: #e6f8f3;
    font-size: 1.5rem; 
  }

  .nav {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: #333; 
    display: none; 
    flex-direction: column; 
  }

  .nav.active {
    display: flex; 
  }

  .nav ul {
    flex-direction: column; 
  }

  .nav ul li {
    margin: 10px 0; 
    text-align: center; 
  }
}


.download-header{
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff !important;
  background-color: #9bba59;
  ;
  
  }

  @media (max-width: 600px) {
    .download-header {
      border-radius: 0px;
      padding-left: 0px;
      padding-right: 0px;
      color: #9bba59 !important;
      background-color: transparent;
      box-shadow: 0 0 0px rgba(155, 186, 89, 0.8); /* Green glow */
    }
  }